 <!-- Jumbotron -->
 <div class="jumbotron">
        <h1 class="display-4">Project's Page</h1>
        <p class="lead">This is a page about, what i consider, my top 3 projects</p>
        <hr class="my-4">
        <h5>My biggest Project would be my Book</h5>
        <h2 class="my-4">Life and Everything in Between</h2>
          <!-- Project Images and Videos -->
        <img src="./Assets/imgs/Jay_Milestone_v2_3d.jpg" alt="Life and Everything in Between" height="420" width="420">
        <p id="bookDescription"></p>
        <h5>My second favourite project is Match</h5>
        <h2 class="my-4">Match</h2>
        <video width="320" height="240" controls>
            <source src="./Assets/video/bandicam 2018-05-31 21-29-51-128.mp4" type="video/mp4">
          </video>
          <p id="matchDescription"></p>
        <h5>My last favourite is, ironically, the one I took the longest in, Switch!</h5>
        <h2 class="my-4">Switch!</h2>
        <video width="320" height="240" controls>
            <source src="./Assets/video/bandicam 2018-05-31 22-15-58-784.mp4" type="video/mp4">
          </video>
          <p id="switchDescription"></p>
      </div>